@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --primary: 222.2 47.4% 11.2%;
}

body {
  color: rgb(var(--foreground));
  background: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
